<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/crud_pets.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css" />
    <title>Dados dos pets cadastrados</title>
</head>

<body>
    <header>
        <nav class="titulos">
            <p>Pets</p>
            <div class="logo">
                <p class="nome_adocao">Adoção</p>
                <p class="plus">+</p>
            </div>
        </nav>
        <nav class="funcoes">
            <nav class="opcoes">
                <button id="add" onclick="abrir_criar()"><i class="fa-solid fa-plus"></i></button>
                <button id="editar" onclick="abrir_editar()"><i class="fa-solid fa-pencil"></i></button>
                <button id="apagar" onclick="abrir_apagar()"><i class="fa-solid fa-trash"></i></button>
            </nav>
            <nav class="tarefas">
                <button>Tarefas</button>
            </nav>
        </nav>
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Espécie</th>
                    <th>Raça</th>
                    <th>Idade</th>
                    <th>Saúde</th>
                    <th>Data de chegada</th>
                    <th>Comportamento</th>
                </tr>
            </thead>
            <tbody>
                {% for a in lista_pets %}
                <tr>
                    <td> <a href="/pet/{{a.id}}">{{ a.nome }}</a></td>
                    <td>{{ a.especie }}</td>
                    <td>{{ a.raca }}</td>
                    <td>{{ a.idade }} ano(s)</td>
                    <td>{{ a.saude }}</td>
                    <td>{{ a.data_chegada }}</td>
                    <td>{{ a.comportamento }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav class="caixa-editar-container">
            <section id="caixa-editar">
                <p>Digite o nome do pet em que deseja editar: </p>
                <div class="caixa-de-texto">
                    <input type="text" placeholder="Nome do pet" id="input-editar">
                </div>
                <div class="botoes">
                    <button class="cancelar" onclick="voltar()">Cancelar</button>
                    <button id="editar-confirmar" onclick="">Editar</button>
                </div>
            </section>
        </nav>

        <nav class="caixa-apagar-container">
            <section id="caixa-apagar">
                <p>Digite o nome do pet em que deseja apagar: </p>
                <div class="caixa-de-texto">
                    <input type="text" placeholder="Nome do pet" id="input-apagar">
                </div>
                <div class="botoes">
                    <button class="cancelar" onclick="voltar()">Cancelar</button>
                    <button id="apagar-confirmar">Apagar</button>
                </div>
            </section>
        </nav>

    </main>
</body>
<script>
    function abrir_criar() {
        window.location.href = "/criar_pet";
    }
    function abrir_editar() {
        document.querySelector('.caixa-editar-container').style.display = 'flex';
    }

    
    function abrir_apagar() {
        document.querySelector('.caixa-apagar-container').style.display = 'flex';
    }
    function voltar() {
        document.querySelector('.caixa-editar-container').style.display = 'none';
        document.querySelector('.caixa-apagar-container').style.display = 'none';
    }

    function confirmar_editar() {
        const nomePet = document.getElementById('input-editar').value;
        window.location.href = `/editar_pet/${nomePet}`;
    }

    function confirmar_apagar() {
        const nomePet = document.getElementById('input-apagar').value;
        let confirmacao = confirm(`Tem certeza que deseja apagar o pet ${nomePet}?`);
        if (confirmacao) {
            console.log("Apagando pet:");
        }
    }
</script>

</html>