<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/crud_pets.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css" />
    <title>Dados dos pets cadastrados</title>
</head>
<body>
    <header>
        <nav class="titulos">
            <p>Pets</p>
            <div class="logo">
                <p class="nome_adocao">Adoção</p>
                <p class="plus">+</p>
            </div>
        </nav>
        <nav class="funcoes">
            <nav class="opcoes">
                <span id="add"><i class="fa-solid fa-plus"></i></span>
                <span id="editar"><i class="fa-solid fa-pencil"></i></span>
                <span id="apagar"><i class="fa-solid fa-trash"></i></span>
            </nav>
            <nav class="tarefas">
                <button>Tarefas</button>
            </nav>
        </nav>
    </header>
</body>
</html>