<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/pet.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css" />
    <title>Informações de {{pet.nome}}</title>
</head>
<body>
    <header>
        <span>
            <i class="fa-solid fa-arrow-left" onclick="window.location.href='{{url_for('ir_crud_pets')}}'"></i>
        </span>
    </header>

    <main>
        <section class="infos-gerais-container">
            <div class="titulo">
                <h1>{{pet.nome}}</h1>
            </div>
            <div class="infos-gerais">
                <p>Informações gerais</p>
                <ul>Espécie: {{pet.especie}}</ul>
                <ul>Raça: {{pet.raca}}</ul>
                <ul>Idade: {{pet.idade}} ano(s)</ul>

                <p>Saúde</p>
                <ul>Estado: {{pet.saude}}</ul>
                <ul>Data de chegada: {{pet.data_chegada}}</ul>
                <ul>Comportamento observado: {{pet.comportamento}}</ul>
            </div>
            <div class="botao">
                <button>Tarefas</button>
            </div>
        </section>

        <section class="infos_secn">
            <div class="foto-container">
                <span>
                    <i class="fa-solid fa-pencil"></i>
                </span>
                <img src="{{ animal.foto }}" alt="">
            </div>
            <div class="contagem_sugest">
                <div class="contagem">Restam dias</div>
                <div class="sugestoes">sugestoes</div>
            </div>
        </section>
    </main>
</body>
</html>
