<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pet.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css" />
    <title>Informações de 'pet'</title>
</head>
<body>
    <header>
        <span>
            <i class="fa-solid fa-arrow-left"></i>
        </span>
    </header>

    <main>
        <section class="infos-gerais-container">
            <div class="titulo">
                <h1>nome</h1>
            </div>
            <div class="infos-gerais">
                <p>Informações gerais</p>
                <ul>especie</ul>
                <ul>Raça</ul>
                <ul>idade</ul>

                <p>Saúde</p>
                <ul>estado_saude</ul>
                <ul>data_chegada</ul>
                <ul>comportamento</ul>
            </div>
            <div class="botao">
                <button>Tarefas</button>
            </div>
        </section>

        <section class="infos_secn">
            <div class="foto-container">
                <span>
                    <i class="fa-solid fa-pencil"></i>
                </span>
                <img src="img/pets/300x300.svg" alt="">
            </div>
            <div class="contagem_sugest">
                <div class="contagem">Restam dias</div>
                <div class="sugestoes">sugestoes</div>
            </div>
        </section>
    </main>
</body>
</html>